{% extends 'parent/base.html' %}
{% load static %}
{% block content %}
<div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>View Student Attendance</h2>
                           </div>
                        </div>
                     </div>
                     <!-- row -->
                     <div class="row column1">
                        <div class="col-md-12">
                           <div class="white_shd full margin_bottom_30">
                              <div class="full graph_head">
                                 <div class="heading1 margin_0">
                                    <h2> Student Name : <small style="color: red;">{{student.name}}</small></h2>
                                    <h4 class="mt-3">Student Reg No : <small style="color: red;">{{student.roll}}</small></h4>
                                 </div>
                              </div>
                              <div class="full price_table padding_infor_info">
                                 <div class="row">
                                    <div class="col-lg-12">
                                       <div class="table-responsive-sm">
                                        {% for msg in messages %}
                                            <h6 style="color: red; text-align: center;
                                            padding-top: 11px;padding-bottom: 11px;border-radius: 10px;">{{msg}}</h6>
                                        {% endfor %}
                                          <table class="table table-striped projects">
                                             <thead class="thead-dark">
                                                <tr>
                                                    <th>Attendance Date</th> 
                                                    
                                                   <th >Attendance</th> 
                                                </tr>
                                             </thead>
                                             <tbody>
                                             {% for i in attendance_records %}
                                                <tr>
                                                    <td>{{i.date}}</td>
                                                   
                                                   {% if i.present %}
                                                        <td>Present</td>
                                                    {% else %}
                                                     <td>Absent</td>
                                                    {% endif %}                       
                                                </tr>
                                            {% endfor %}               
                                             </tbody>
                                          </table>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- end row -->
                     </div>
                  </div>
                  <!-- end dashboard inner -->
               </div>

{% endblock %}